BODY {
    overflow: hidden;
    background: #000;
}


.svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;

    &--rays {
        width: 100%;
        height: 100%;
    }
    &--bird {
        top: -60px;
        left: -30px;
        width: 280px;
        height: 280px;
    }
}

.stop-color {
    stop-color: crimson;
    animation: colors 3s linear infinite;

    &--2 {
        animation-delay: -1s;
    }
    &--3 {
        animation-delay: -.5s;
    }
    &--4 {
        animation-delay: -2s;
    }
    &--5 {
        animation-delay: -2.5s;
    }
    &--6 {
        animation-delay: -1.5s;
    }
}

@keyframes colors {
    0% {
        stop-color: maroon;
    }
    10% {
        stop-color: crimson;
    }
    20% {
        stop-color: orangered;
    }
    30% {
        stop-color: gold;
    }
    40% {
        stop-color: yellowgreen;
    }
    50% {
        stop-color: skyblue;
    }
    60% {
        stop-color: steelblue;
    }
    70% {
        stop-color: slateblue;
    }
    80% {
        stop-color: darkviolet;
    }
    90% {
        stop-color: purple;
    }
}

.svg--bird {
    animation: up-down 1.68s infinite ease-out;
}

@keyframes up-down {
    50% {
        transform: translate(0, 30px);
    }
}

.c-rays {
    stroke: hsl(0, 0, .9);
    stroke-width: 100%;
    stroke-dasharray: 5%;
    animation: rotate 20s linear infinite;
    transform-origin: 50% 50%;
    }

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
